// anchor tag
a {
    color: $primary-green;
    cursor: pointer;

    &:hover {
        color: $primary-green;
    }

    &:focus {
        color: $primary-green;
    }
}

// custom attributes
mark {
    background-color: #f1f1f1;
    padding: 2px 5px;
    border-radius: 2px;
}
