@mixin button($color) {
    background-color: $color;
    border-color: $color;

    &:active,
    &:focus,
    &:hover {
        background-color: $color;
        border-color: $color;
        box-shadow: none;
    }
}
