$break-xtraLarge: "screen and (max-width : 1200px)";
$break-large: "screen and (max-width : 992px)";
$break-medium: "screen and (max-width : 768px)";
$break-small: "screen and (max-width : 576px)"; // colors
$primary-green: #00a99d;
$primary-red: #f15a24;
