<div class="login">
    <div class="form-wrap">
        <form name="loginForm" ng-submit="login()" autocomplete="off">
            <div class="form-group">
                <input type="email" class="form-control" id="username" name="username" value="" placeholder="username or email" ng-model="loginInfo.username" maxlength="32" ng-change="inputChanges('username')" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="password" ng-model="loginInfo.password" ng-change="inputChanges('password')" required>
            </div>
            <div class="form-group remember">
                <label>
                    <input type="checkbox" name="remember" id="remember"> Remember login</label>
                <p class="form-text">(if this is a private computer)</p>
            </div>
            <br>
            <input type="submit" class="btn login-button" value={{loginValue}} ng-class="{'btn-success': !loginError, 'btn-danger': loginError}">
        </form>
        <div class="powered-by">
            <p>Powered by <a href="https://github.com/Sibiraj-S/" target="_blank">Sibiraj-S</a> &copy; 2017</p>
        </div>
    </div>
</div>
